<app-navbar></app-navbar>

<div class="mat-display-2">
    <h1 class="shadow">Reportes</h1>
</div>

<div class="container mat-elevation-z8">

    <div class="button">
        <mat-select class="Reporte" [(value)]="repValue" (selectionChange)="changeTabla()">
            <mat-option [value]="rep" *ngFor="let rep of Reportes">
                {{rep}}
            </mat-option>
        </mat-select>
        <mat-select *ngIf="isRep7 == true" class="Kid" [(value)]="kidValue">
            <mat-option class="opciones" [value]="kid.idUsuario" *ngFor="let kid of Kids">
                {{kid.nombre}}
            </mat-option>
        </mat-select>
        <button class="reportebt" type="button" mat-raised-button color="primary" (click)="generarReporte()">
            Generar Reporte
        </button>

    </div>
    <table *ngIf="isProductRep == true" mat-table [dataSource]="productSource">
        <!-- Item Column -->
        <ng-container matColumnDef="Producto">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let p">
                {{p.producto}}
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Generado">
            <th mat-header-cell *matHeaderCellDef> Generado </th>
            <td mat-cell *matCellDef="let p"> {{p.generado}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let p">
                {{p.cantidad}}
            <td mat-footer-cell *matFooterCellDef> </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="productColumns; sticky: true"></tr>
    </table>

    <table *ngIf="isDepRep == true" mat-table [dataSource]="depSource">
        <!-- Item Column -->
        <ng-container matColumnDef="Departamento">
            <th mat-header-cell *matHeaderCellDef> Departamento </th>
            <td mat-cell *matCellDef="let p">
                {{p.nombre}}
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Ventas">
            <th mat-header-cell *matHeaderCellDef> Ventas </th>
            <td mat-cell *matCellDef="let p"> {{p.id}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="depColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: depColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="depColumns; sticky: true"></tr>
    </table>

    <table *ngIf="isMunRep == true" mat-table [dataSource]="munSource">
        <!-- Item Column -->
        <ng-container matColumnDef="Municipio">
            <th mat-header-cell *matHeaderCellDef> Municipio </th>
            <td mat-cell *matCellDef="let p">
                {{p.municipio}}
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Ventas">
            <th mat-header-cell *matHeaderCellDef> Ventas </th>
            <td mat-cell *matCellDef="let p"> {{p.cartas_enviadas}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="munColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: munColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="munColumns; sticky: true"></tr>
    </table>

    <table *ngIf="isAccionRep == true" mat-table [dataSource]="accionSource">
        <!-- Item Column -->
        <ng-container matColumnDef="Titulo">
            <th mat-header-cell *matHeaderCellDef> Titulo </th>
            <td mat-cell *matCellDef="let p">
                {{p.titulo}}
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Veces_Realizada">
            <th mat-header-cell *matHeaderCellDef> Veces Realizada </th>
            <td mat-cell *matCellDef="let p"> {{p.veces_realizada}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="accionColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: accionColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="accionColumns; sticky: true"></tr>
    </table>


    <table *ngIf="isCatRep == true" mat-table [dataSource]="catSource">
        <!-- Item Column -->
        <ng-container matColumnDef="Categoria">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let p">
                {{p.categoria}}
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let p"> {{p.cantidad}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Generado">
            <th mat-header-cell *matHeaderCellDef> Generado </th>
            <td mat-cell *matCellDef="let p"> {{p.generado}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="catColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: catColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="catColumns; sticky: true"></tr>
    </table>

    <table *ngIf="isCartaRep == true" mat-table [dataSource]="cartaSource">
        <!-- Item Column -->
        <ng-container matColumnDef="Nombre_Usuario">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let p">
                {{p.nombre}}
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Total_Gastado">
            <th mat-header-cell *matHeaderCellDef> Total Gastado </th>
            <td mat-cell *matCellDef="let p"> {{p.total_gastado}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let p"> {{p.fecha}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Mensaje">
            <th mat-header-cell *matHeaderCellDef> Mensaje </th>
            <td mat-cell *matCellDef="let p"> {{p.mensaje}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cartaColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: cartaColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="cartaColumns; sticky: true"></tr>
    </table>

    <table class="tabla7" *ngIf="isRep7 == true" mat-table [dataSource]="kidsSource">
        <!-- Item Column -->
        <ng-container matColumnDef="Nombre_Usuario">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let p">
                {{p.usuario}}
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="idComentario">
            <th mat-header-cell *matHeaderCellDef> ID Comentario </th>
            <td mat-cell *matCellDef="let p"> {{p.idComentario}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Comentario">
            <th mat-header-cell *matHeaderCellDef> Comentario </th>
            <td mat-cell *matCellDef="let p"> {{p.mensaje}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="idPublicacion">
            <th mat-header-cell *matHeaderCellDef> ID Publicacion </th>
            <td mat-cell *matCellDef="let p"> {{p.idPublicacion}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Texto">
            <th mat-header-cell *matHeaderCellDef> Texto Publicacion </th>
            <td mat-cell *matCellDef="let p"> {{p.texto}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="kidsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: kidsColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="kidsColumns; sticky: true"></tr>
    </table>

    <div class="graficasReportes" *ngIf="isGenerado == true">
        <div class="mat-display-2" *ngIf="isReport6 == true">
            <h1 class="shadow">Bar Chart</h1>
        </div>

        <div class="chart-wrapper" *ngIf="isReport6 == true">
            <canvas id="myChart" baseChart [datasets]="barChartData" [labels]="barChartLabels"
                [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                [chartType]="barChartType">
            </canvas>
        </div>


        <div class="mat-display-2" *ngIf="isReport6 == false">
            <h1 class="shadow">Pie Chart</h1>
        </div>
        <div class="chart-wrapper" *ngIf="isReport6 == false">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
        </div>
    </div>



</div>