<ion-header>
  <ion-toolbar>
    <ion-title>Repartir Cartas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="realizadas" *ngFor="let carta of Cartas">
    <div id="snowFall"></div>
    <ion-card-header>
      <ion-card-subtitle>Enviada por: {{carta.fecha}}</ion-card-subtitle>
      <ion-card-title>{{carta.usuario}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{carta.mensaje}}
    </ion-card-content>
    <div class="botones">
      <ion-button color="warning" (click)=verCarta(carta)>
        <ion-label>Ver Detalles</ion-label>
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card>

  <ion-card *ngIf="sinCartas == true">
    <ion-card-content>
      Sin cartas por repartir
    </ion-card-content>
  </ion-card>

</ion-content>