<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de Santa</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>{{nombre}}</ion-card-subtitle>
      <ion-card-title>Nueva Publicacion</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-textarea maxlength="300" placeholder="Nueva Publicacion.... Escribe algo" class="nuevaPublic" [(ngModel)]="textoPublicacion">
      </ion-textarea>
    </ion-item>
    <ion-card-content>
      <img src="{{imgURL}}" height="200" widht="200" />
    </ion-card-content>
    <ion-card-content>
      <ion-button color="success" (click)=publicar()>
        <ion-label>Publicar</ion-label>
        <ion-icon slot="icon-only" name="newspaper-outline"></ion-icon>
      </ion-button>

      <ion-button color="medium" (click)=getGallery()>
        <ion-icon slot="icon-only" name="image-outline"></ion-icon>
      </ion-button>

      <ion-button color="medium" (click)=getCamera()>
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>

    </ion-card-content>
  </ion-card>



  <ion-card *ngFor="let p of Publicaciones">

    <ion-card-header>
      <ion-card-subtitle>Publicacion hecha por: {{nombre}}</ion-card-subtitle>
      <ion-card-title>{{p.usuario}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        {{p.texto}}
      </ion-item>
      <!--  <img src="{{p.imagen}}" height="200" widht="200"/> -->
    </ion-card-content>
    <ion-card-content>
      <ion-button color="warning" (click)=editar(p)>
        <ion-label>Editar</ion-label>
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>

      <ion-button color="danger" (click)=borrar(p)>
        <ion-label>Borrar</ion-label>
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>

    </ion-card-content>
  </ion-card>


</ion-content>