<div class="container">
    <div id="snowFall"></div>
    <mat-card>

        <mat-card-title>
            <div class="santa">
                <img src="https://i.imgur.com/OnZQ4VK.png" width="60px" height="60px" />
            </div>
            <div class="titulo">INICIO DE SESION</div>
        </mat-card-title>
        <mat-card-content>
            <form>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Usuario" formControlName="username" id="username">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Contraseña" formControlName="password" id="pass">
                    </mat-form-field>
                </p>

                <p class="error" id="error">
                </p>

                <div class="button">
                    <button class="loginbt" type="button" mat-raised-button color="primary"
                        (click)="validateLogin()">Login</button>
                    <button class="registerbt" type="button" mat-raised-button color="primary"
                        (click)="register()">Registrarse</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>