<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="confirmar-acciones">
      <ion-icon name="person"></ion-icon>
      <ion-label>Confirmar Acciones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="confirmar-regalos">
      <ion-icon name="person"></ion-icon>
      <ion-label>Confirmar Regalos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="perfil-hijo">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil Hijo </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>