<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>SANTA CLOUD PLATFORM</span>
        <span class="spacer"></span>

        <!-- OPCIONES PARA USUARIO 'ELFO' (ADMIN) -->
        <button mat-button [routerLink]="'/admin'" *ngIf="this.Usuario.idRol == 1">Home</button>
        <button mat-button [routerLink]="'/adminacciones'" *ngIf="this.Usuario.idRol == 1">Buenas Acciones</button>


        <button mat-button [routerLink]="'/adminproductos'" *ngIf="this.Usuario.idRol == 1">Productos</button>

        <button mat-button [routerLink]="'/adminperfiles'" *ngIf="this.Usuario.idRol == 1">Perfiles</button>


        <button mat-button *ngIf="this.Usuario.idRol == 1">Mensajeria de Elfos</button>
        <button mat-button [matMenuTriggerFor]="menu3" *ngIf="this.Usuario.idRol == 1">Reportes</button>
        <mat-menu #menu3="matMenu">
            <button mat-menu-item [routerLink]="'/'">Top 10 productos mas comprados</button>
            <button mat-menu-item>Top 10 departamentos con mas ventas</button>
            <button mat-menu-item>Top 10 de municipios con mas ventas</button>
            <button mat-menu-item>Top 5 de buenas acciones mas realizadas</button>
        </mat-menu>

        <!-- OPCIONES PARA USUARIO 4 'NIÑO' (KID) -->
        <button mat-button class="bastones" *ngIf="this.Usuario.idRol == 4">BASTONES ACUMULADOS: {{Usuario.bastones}}</button>
        <button mat-button [routerLink]="'/kid'" *ngIf="this.Usuario.idRol == 4">Acumular Puntos</button>
        <button mat-button [routerLink]="'/kidproductos'" *ngIf="this.Usuario.idRol == 4">Enviar Carta a Santa</button>
        <button mat-button [matMenuTriggerFor]="menu4" *ngIf="this.Usuario.idRol == 4">Perfil de Santa</button>
        <mat-menu #menu4="matMenu">
            <button mat-menu-item [routerLink]="'/kidsanta'">Ver Perfil de Santa</button>
            <button mat-menu-item *ngIf="this.Usuario.idRol == 4">Mensajeria a Elfos</button>
        </mat-menu>

        <!-- OPCIONES PARA USUARIO 2 'SANTA'-->
        <button mat-button [routerLink]="'/'" *ngIf="this.Usuario.idRol == 2">Realizar Publicacion</button>
        <button mat-button [routerLink]="'/'" *ngIf="this.Usuario.idRol == 2">Repartir</button>
        <!-- OPCIONES PARA USUARIO 3 'PADRE'-->
        <button mat-button [routerLink]="'/'" *ngIf="this.Usuario.idRol == 3">Confirmar Buenas Acciones</button>
        <button mat-button [routerLink]="'/'" *ngIf="this.Usuario.idRol == 3">Confirmar Regalos</button>
        <button mat-button [matMenuTriggerFor]="menu5" *ngIf="this.Usuario.idRol == 3">Perfil del Hijo</button>
        <mat-menu #menu5="matMenu">
            <button mat-menu-item [value]="kid.idUsuario" *ngFor="let kid of Hijos">{{kid.nombre}}</button>
        </mat-menu>


        <button mat-button [matMenuTriggerFor]="afterMenu">{{Usuario.nombre}}</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item *ngIf="this.Usuario.idRol == 4" [routerLink]="'/cartasenviadas'">Ver cartas enviadas</button>
            <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesion</button>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>