<div id="snowFall"></div>
<mat-card>
    <mat-card-title>
        <div class="santa">
            <img src="https://i.imgur.com/OnZQ4VK.png" width="60px" height="60px" />
        </div>
        <div class="titulo">REGISTRO DE USUARIO</div>
    </mat-card-title>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Email" maxlength="100" formControlName="email" id="email">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Nombre del Padre"  maxlength="80" formControlName="padre" id="padre">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Nombre del Hijo" maxlength="80"  formControlName="hijo" id="hijo">
                </mat-form-field>
            </p>



            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Nickname Hijo" maxlength="50"  formControlName="nickname" id="nickname">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Sexo del hijo</mat-label>
                    <mat-select name="genero" [(value)]="genderValue">
                        <mat-option [value]="option.nombre" *ngFor="let option of Generos">
                            {{option.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>


            <mat-form-field appearance="fill">
                <mat-label>Fecha de Nacimiento del Hijo</mat-label>
                <input matInput [matDatepicker]="picker" id="fechaHijo">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <p>
                <mat-form-field>
                    <mat-label>Departamentos</mat-label>
                    <mat-select name="Departamentos" [(value)]="depValue" (selectionChange)="getMunicipios()">
                        <mat-option [value]="option.nombre" *ngFor="let option of Departamentos">
                            {{option.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Municipios</mat-label>
                    <mat-select name="Municipios" [(value)]="munValue">
                        <mat-option [value]="option.nombre" *ngFor="let option of Municipios">
                            {{option.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Direccion" maxlength="250" formControlName="direccion" id="direccion">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Telefono" maxlength="10" formControlName="telefono" id="telefono">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Contraseña" maxlength="200" formControlName="password" id="pass">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="number" matInput placeholder="Bastones Maximos" formControlName="bastones" id="bastones">
                </mat-form-field>
            </p>





            <p class="error">
                
            </p>

            <div class="button">
                <button class="loginbt" type="button" mat-raised-button color="primary"
                    (click)="validateRegistro()">Registrarse</button>
                <button class="registerbt" type="button" mat-raised-button color="primary"
                    (click)="regresar()">Regresar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>