:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

.mat-card {
    background-color: #0F8A5F
}

.loginbt, .registerbt {
    background-color: #34A65F
}

mat-card-title {
    display: flex;
    justify-content: center;
}

.titulo {
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    display: none;
    background-color: red;
}

.button {
    display: flex;
    position: relative;
    text-align: center;
    z-index: 2;
}

.mat-form-field {
    z-index: 2;
}

.loginbt {
    width: 100px;
    margin-left: 10px;
}

.registerbt {
    width: 100px;
    margin-left: 10px;
}

#snowFall {
    background: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/426955/S1.png'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/426955/S2.png'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/426955/S3.png');
    -webkit-animation: snowFall 10s linear infinite;
    -moz-animation: snowFall 10s linear infinite;
    -ms-animation: snowFall 10s linear infinite;
    animation: snowFall 10s linear infinite;
}

@-webkit-keyframes snowFall {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-moz-keyframes snowFall {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-ms-keyframes snowFall {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@keyframes snowFall {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}